.CustomerLogin {
  max-width: 500px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}
.CustomerLogin__header h1 {
  font-size: 48px;
  font-weight: 300;
  color: #000;
  margin: 0;
  margin-bottom: 40px;
}
.submitButton {
  display: block;
  margin: 0 auto;
  padding: 12px 20px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}
.redirectBox {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 20px;
  gap: 10px;
}

.link,
.link:visited {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
