.DecorationSectionContainer {
  display: flex;
  gap: 24px;
  cursor: pointer;
  margin: 42px 0;
}

.imgContainer img:hover {
  transform: scale(1.1);
  filter: grayscale(100%);
}
.imgContainer {
  overflow: hidden;
}
.imgContainer img {
  width: 100%;
  display: block;
  transition: all 0.4s;
}
