.ProductCategoryImg img {
  width: 100%;
  display: block;
  transition: all 0.4s;
}

.ProductCategoryImg img:hover {
  transform: scale(1.2);
  filter: grayscale(100%);
}

.ProductCategoryImg {
  display: block;
  overflow: hidden;
}

.productCategoryContainer {
  margin: 64px 0;
  text-align: center;
}
.categoryInfo {
  margin-top: 24px;
}
.typeCategory {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

.quantity {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}
