.navHeader {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 14px;
  color: #666666;
  font-weight: 400;
  gap: 24px;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: end;
  align-items: center;
  height: 46px;
  line-height: 46px;
}
.navHeaderItem {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.2s;
  text-decoration: none;
  height: fit-content;
}
.navHeaderItem:hover {
  color: #e97e3d;
  cursor: pointer;
}

.navTop {
  border-bottom: 0.01px solid rgba(0, 0, 0, 0.1);
}
