.modalContainer {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  max-width: 1020px;
  display: flex;
  align-items: center;
}

.modalContent {
  display: flex;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
}
.slideProductImg {
  padding: 0 12px;
}

.productInfo {
}

.productImg {
  width: 100%;
}

.title {
  margin-top: 24px;
}

.productName {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}

.productPrice {
  margin-top: 4px;
  margin-bottom: 32px;
  display: flex;
}

.quantityInput input {
  width: 33%;
  text-align: center;
  font-weight: bold;
  padding: 16px 16px;
  background-color: #f4f4f4;
  border: 0;
  color: #333;
  font-size: 16px;
  border-radius: 8px;
}
.quantityInput {
  display: flex;
  gap: 12px;
}

.submitBtn {
  width: 50%;
  margin: 0;
  background-color: black;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.productDescription {
  color: #666;
  font-size: 14px;
  text-align: left;
}

.listDescription {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
