.navBottom {
  display: flex;
  list-style-type: none;
  gap: 48px;
  font-size: 18px;
  font-weight: 500;
}
.navBottom a {
  text-decoration: none;
  color: #333;
}

.navBottom a:hover {
  color: #e97e3d;
}
.navBottomIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 100;
  gap: 24px;
}
.navBottomIcon svg:hover {
  color: #e97e3d;
  cursor: pointer;
}

.Cart {
  visibility: hidden;
  opacity: 0;
}
