.contentFooter {
  background-color: #222222;
  padding: 24px 0 48px;
}
.contentFooterContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contentItem {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: #fff;
  gap: 18px;
  font-size: 14px;
}

.contentItemHeader {
  font-size: 24px;
  font-weight: 400;
}
